.app-container {
  max-width: 1000px; 
  margin: 0 auto;    
  padding: 0 20px;   
}

.theme-toggle-switch {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 60px;
  height: 30px;

  background: var(--card-bg);
  border-radius: 30px;
  border: 1px solid var(--border-color);

  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
}

.switch-circle {
  width: 22px;
  height: 22px;
  background: var(--primary);
  border-radius: 50%;
  transition: 0.3s;
}

.switch-circle.active {
  transform: translateX(28px);
}