:root {
  --font-title: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --bg-color: #0e0725;
  --text-color: #ffffff;

  --card-bg: #350571;

  --primary: #c9a6ff;
  --primary-strong: #4c1d95;

  --button-bg: #42048a;
  --button-text: #ffffff;

  --primary: #c9a6ff;
  --primary-strong: #4c1d95;
}

.light {
  --bg-color: #ffffff;
  --text-color: #0e0725;

  --card-bg: #7d35c9;

  --primary: #7c3aed;
  --primary-strong: #5b21b6;

  --button-bg: #42048a;
  --buton-text: #ffffff;

  --tag-bg: #ede9fe;
  --tag-text: #5b21b6;
}

.terminal{
  --bg-color: #000000;
  --text-color: #00ff41; 
  --card-bg: #0a0a0a;
  --primary: #00ff41;
  --primary-strong: #008f11;
  --button-bg: #003b00;
  --button-text: #00ff41;
  --tag-bg: #003b00;
  --tag-text: #00ff41;
  
  --font-title: 'JetBrains Mono', 'Courier New', monospace;
  --font-body: "Lucida Console", Monaco, monospace;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
  margin: 0;
}

p,
span,
li {
  font-family: var(--font-body);
  font-weight: 500;
}

button {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--text-color);
}
