:root {
  --font-title: "Bakbak One", sans-serif;
  --font-body: "IBM Plex Mono", sans-serif;

  --text-color: #f6f1f5;
  --secondary-text: #92a3bc;
  --shadow-blue: #7d91b0;
  --bg-color: #180d35;
  --button-color: #3e2854;
  --second-button: #59406f;
  --details: #9a72b0;
}

.light {
  --text-color: #1a1a1a;
  --secondary-text: #6d28d9;
  --shadow-blue: #c9a6ff;
  --bg-color: #f8f9fa;
  --button-color: #6d28d9;
  --second-button: #4c1d95;
  --details: #6d28d9;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 1.5;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
  margin: 0;
}

p,
span,
li {
  font-family: var(--font-body);
  font-weight: 500;
}

button {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--text-color);
}
