.project-detail {
  min-height: 100vh;
  padding: 80px 8%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-detail a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.project-detail a:hover {
  color: var(--text-color);
  transform: translateX(-4px);
}

.project-actions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 20px;
}

.external-btn,
.download-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease !important;
  text-decoration: none !important;
}

.external-btn {
  background-color: var(--button-bg);
  color: var(--button-text) !important;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.external-btn:hover {
  background-color: #ffffff;
  transform: translateY(-3px) !important;
}

.download-btn {
  background-color: transparent;
  color: var(--text-color) !important;
  border: 2px solid var(--primary);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.download-btn:hover {
  background-color: rgba(201, 166, 255, 0.1);
  transform: translateY(-3px) !important;
}

.detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-detail h1 {
  font-size: 40px;
  margin: 0;
}

.project-detail h3 {
  font-weight: 400;
  color: var(--text-color);
  margin-top: -10px;
}

.project-detail section {
  background: var(--bg-color);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  margin-bottom: 25px;
}

.project-detail section:hover {
  transform: translateY(-3px);
}

.project-detail h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--primary);
  align-self: flex-start;
}

.project-detail p {
  line-height: 1.6;
  font-size: 15px;
  color: var(--text-color);
}

.project-detail ul {
  padding-left: 20px;
  margin: 0;
}

.project-detail li {
  margin-bottom: 8px;
  font-size: 15px;
  color: var(--text-color);
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-tag {
  background: var(--primary-strong);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
  color: var(--primary);
}

.view-all-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 220px;
  background-color: var(--bg-color);
  border-radius: 50px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.detail-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 50px;
}
